<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
	<meta http-equiv="keywords" content="关键字,关键字,关键字"/>
	<meta http-equiv="pragma" content="no-cache"/>
	<meta http-equiv="cache-control" content="no-cache"/>
	<meta http-equiv="expires" content="0"/>
	<meta name="description" content="页面描述不超过150个字符"/>
	<meta name="Author" content="页面作者"/>
	<meta name="renderer" content="webkit"/>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
	<link rel="shortcut icon" href="../static/favicon.ico" type="image/x-icon" >
	<link rel="stylesheet" type="text/css" href="../static/layui/dist/css/layui.css"/>
	<link rel="stylesheet" href="../static/stylesheets/gx_main.min.css" />
	<link rel="stylesheet" type="text/css" href="../static/iconfont/iconfont.css">
	<!--[if lt IE 9]>
	<script src="../static/html5shiv/dist/html5shiv.min.js"></script>
	<script src="../static/respond/dest/respond.min.js"></script>
	<![endif]-->
	<script src="../static/jquery/dist/jquery.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../static/layui/dist/layui.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript" src="../static/highcharts-5.0.14/code/highcharts.js"></script>
	<!--mine-->
	<script src="../static/javascripts/gx_main.min.js" type="text/javascript" charset="utf-8"></script>
	<style>
	.tableBorderBottom td{border-bottom:1px solid #78C5F6;}
	</style>
</head>
<body class="frame">
	
	<form class="layui-form protocolConfig" id="form_protocolConfig">
		<input type="hidden" name="FileName" value="sub_protocolConfig.html"/>
		<input type="hidden" name="method" value="send_post"/>
		<!--【发送】协议配置-->
		<table class="layui-table">
			<thead class="lightBlue center">
				<tr>
					<th colspan="6">发送协议配置</th>
				</tr>
			</thead>
			<tbody class="grey center">
				<tr>
					<td>通信接口</td>
					<td>
						<select id="sub_config_txjk" name="parameter_port_ID" lay-filter="sub_config_txjk" lay-verify="required"></select>
					</td>
					<td>接口名称</td>
					<td>
						<select id="sub_config_jkmc" name="parameter_policy_name" lay-filter="sub_config_jkmc" lay-verify="required"></select>
					</td>
					<td>端口号</td>
					<td>
						<select id="sub_config_dkh" name="parameter_port_type" lay-verify="required"></select>
					</td>
				</tr>
				<tr>
					<td>采集设备</td>
					<td>
						<select id="sub_config_cjsb" name="parameter_device_name_ID" lay-verify="required"></select>
					</td>
					<td>进制选择</td>
					<td>
						<select name="jinzhi" lay-verify="required">
							<option value="16">16进制</option>
						</select>
					</td>
					<td>定时发送</td>
					<td>
						<input type="text" class="layui-input" name="parameter_timer" lay-verify="required">
					</td>
				</tr>
			</tbody>
		</table>
		<!--【发送】发送请求协议格式定义-->
		<table class="layui-table">
			<thead class="lightBlue center">
				<tr>
					<th colspan="6">发送协议格式定义</th>
				</tr>
			</thead>
			<tbody class="grey center">
				<tr>
					<td>报文长度</td>
					<td>
						<input type="text" class="layui-input" name="parameter_pack_size" lay-verify="required">
					</td>
					<td>报文校验方式</td>
					<td>
						<select class="layui-input layui-unselect" id="sub_config_sjjyfs" name="parameter_check_type_ID" lay-verify="required"></select>
					</td>
					<td>校验报文开始字节</td>
					<td>
						<input type="text" class="layui-input" name="parameter_check_data_start_pos" lay-verify="required">
					</td>
				</tr>
				<tr>
					<td>校验报文结束字节</td>
					<td>
						<input type="text" class="layui-input" name="parameter_check_data_end_pos" lay-verify="required">
					</td>
					<td>报文校验值位置</td>
					<td>
						<input type="text" class="layui-input" name="parameter_data_check_pos" lay-verify="required">
					</td>
					<td>报文校验值长度</td>
					<td>
						<input type="text" class="layui-input" name="parameter_data_check_length" lay-verify="required">
					</td>
				</tr>
			</tbody>
		</table>
		<!--【发送】协议模板-->
		<table class="layui-table">
			<thead class="lightBlue center">
				<tr>
					<th>协议模板</th>
				</tr>
			</thead>
			<tbody class="grey center">
				<tr>
					<td>
						<span>12</span>
						<span>55</span>
						<span>66</span>
						<span>77</span>
						<span>99</span>
						<span>01</span>
					</td>
				</tr>
			</tbody>
		</table>
		<!--【发送】发送参数-->
		<div class="scrollBox">
			<table class="layui-table">
				<thead class="lightBlue center">
					<tr>
						<th>
							发送参数
							<p class="addBtn" id="addSendConfig"><span class="iconfont icon-gx_jiaHao"></span><span>添加参数</span></p>
						</th>
					</tr>
				</thead>
				<tbody class="grey center" id="addSendConfigList">
					<tr>
						<td><!--
							--><label>参数起始字节</label><!--
							--><div class="layui-input-inline"><!--
								--><input type="text" class="layui-input" name="parameter_start_pos0" lay-verify="required"><!--
							--></div><!--
							--><label>参数长度</label><!--
							--><div class="layui-input-inline"><!--
								--><input type="text" class="layui-input" name="parameter_length0" lay-verify="required"><!--
							--></div><!--
							--><label>参数内容</label><!--
							--><div class="layui-input-inline"><!--
								--><input type="text" class="layui-input" name="parameter_content0" lay-verify="required"><!--
							--></div><!--
							--><label class="removeBtn"><span class="iconfont icon-gx_cha"></span><span>删除</span></label><!--
						--></td>
					</tr>
				</tbody>
			</table>
		</div>
		<!--【发送】提交按钮-->
		<div class="text_right">
			<button class="layui-btn layui-btn-darkBlue" id="sub_protocolConfig" lay-submit="" lay-filter="sub_send">提交</button>
			<button type="reset" class="layui-btn layui-btn-darkBlue">重置</button>
		</div>
	</form>


	<!--分割线-->
	<hr class="layui-bg-blue" style="margin-top:30px;margin-bottom:30px;">

	
	<form class="layui-form protocolConfig" id="form_protocolConfig_receive">
		<input type="hidden" name="FileName" value="sub_protocolConfig.html"/>
		<input type="hidden" name="method" value="receive_get"/>
		<!--【接收】接收协议配置-->
		<table class="layui-table">
			<thead class="lightBlue center">
				<tr>
					<th colspan="6">接收数据协议配置</th>
				</tr>
			</thead>
			<tbody class="grey center">
				<tr>
					<td>通信接口</td>
					<td>
						<select id="sub_config_receive_txjk" name="receive_parameter_port_ID" lay-filter="sub_config_receive_txjk" lay-verify="required"></select>
					</td>
					<td>接口名称</td>
					<td>
						<select id="sub_config_receive_jkmc" name="receive_parameter_policy_name" lay-filter="sub_config_receive_jkmc" lay-verify="required"></select>
					</td>
					<td>端口号</td>
					<td>
						<select id="sub_config_receive_dkh" name="receive_parameter_port_type" lay-filter="sub_config_receive_dkh" lay-verify="required"></select>
					</td>
				</tr>
				<tr>
					<td>采集设备</td>
					<td>
						<select id="sub_config_receive_cjsb" name="receive_parameter_device_name_ID" lay-verify="required"></select>
					</td>
					<td>进制选择</td>
					<td>
						<select name="receive_jinzhi" lay-verify="required">
							<option value="16">16进制</option>
						</select>
					</td>
					<td colspan="2"></td>
				</tr>
			</tbody>
		</table>
		<!--【接收】接收请求协议格式定义-->
		<table class="layui-table">
			<thead class="lightBlue center">
				<tr>
					<th colspan="6">接收协议格式定义</th>
				</tr>
			</thead>
			<tbody class="grey center">
				<tr class="tableBorderBottom">
					<td>报文长度</td>
					<td>
						<input type="text" class="layui-input" name="receive_parameter_pack_size" lay-verify="required">
					</td>
					<td>报文长度起始字节</td>
					<td>
						<input type="text" name="receive_buff_length_start_pos" class="layui-input" lay-verify="required">
					</td>
					<td>报文长度结束字节</td>
					<td>
						<input type="text" name="receive_buff_length_end_pos" class="layui-input" lay-verify="required">
					</td>
				</tr>
				<tr>
					<td>报文标识</td>
					<td>
						<input type="text" name="receive_buff_id" class="layui-input" lay-verify="required">
					</td>
					<td>报文校验方式</td>
					<td>
						<select id="sub_config_receive_sjjyfs" name="receive_parameter_check_type_ID" lay-verify="required"></select>
					</td>
					<td>报文校验起始字节</td>
					<td>
						<input type="text" name="receive_parameter_check_data_start_pos" class="layui-input" lay-verify="required">
					</td>
				</tr>
				<tr>
					<td>报文校验结束字节</td>
					<td>
						<input type="text" name="receive_parameter_check_data_end_pos" class="layui-input" lay-verify="required">
					</td>
					<td>报文校验值位置</td>
					<td>
						<input type="text" name="receive_parameter_data_check_pos" class="layui-input" lay-verify="required">
					</td>
					<td>报文校验值长度</td>
					<td>
						<input type="text" name="receive_parameter_data_check_length" class="layui-input" lay-verify="required">
					</td>
				</tr>
				<tr id="sub_config_receive_bwlx_row" style="display:none;">
					<td>报文类型</td>
					<td>
						<select name="receive_parameter_bak_can_buff_type" lay-verify="required">
							<option value="0">标准帧</option>
							<option value="1">扩展帧</option>
						</select>
					</td>
					<td colspan="4"></td>
				</tr>
			</tbody>
		</table>
		<!--【接收】协议模板-->
		<table class="layui-table">
			<thead class="lightBlue center">
				<tr>
					<th>协议模板</th>
				</tr>
			</thead>
			<tbody class="grey center">
				<tr>
					<td>
						<span>12</span>
						<span>55</span>
						<span>66</span>
						<span>77</span>
						<span>19</span>
						<span>01</span>
					</td>
				</tr>
			</tbody>
		</table>
		<!--【接收】接收关键字设置-->
		<div class="scrollBox">
			<table  class="layui-table">
				<thead class="lightBlue center">
					<tr>
						<th>
							接收关键字设置
							<p class="addBtn" id="addKeywordConfig"><span class="iconfont icon-gx_jiaHao"></span><span>添加参数</span></p>
						</th>
					</tr>
				</thead>
				<tbody class="grey center" id="addKeywordConfigList">
					<tr>
						<td><!--
							--><label>关键字起始位置</label><!--
							--><div class="layui-input-inline"><!--
								--><input type="text" name="receive_parameter_code_start0" class="layui-input" lay-verify="required"><!--
							--></div><!--
							--><label>长度</label><!--
							--><div class="layui-input-inline"><!--
								--><input type="text" name="receive_parameter_code_length0" class="layui-input" lay-verify="required"><!--
							--></div><!--
							--><label>类型</label><!--
							--><div class="layui-input-inline"><!--
								--><select id="sub_config_receive_lx" name="receive_parameter_code_type0" lay-verify="required"></select><!--
							--></div><!--
							--><label>名称</label><!--
							--><div class="layui-input-inline"><!--
								--><input type="text" class="layui-input" name="receive_parameter_code_name0" lay-verify="required"><!--
							--></div><!--
							--><label class="removeBtn"><span class="iconfont icon-gx_cha"></span>删除</label><!--
						--></td>
					</tr>
				</tbody>
			</table>
		</div>
		<!--【接收】提交重置按钮-->
		<div class="text_right">
			<button class="layui-btn layui-btn-darkBlue" lay-submit="" lay-filter="sub_receive">提交</button>
			<button type="reset" class="layui-btn layui-btn-darkBlue">重置</button>
		</div>
	</form>
		

	<script>
		layui.use(['form','jquery','layer'], function(){
			//初始化下拉框及其他表单元素
			var form = layui.form,layer = layui.layer,$ = layui.jquery; //只有执行了这一步，部分表单元素才会自动修饰成功
			
			//【发送、接收】请求默认数据
			$.post('sub_protocolConfig',{"FileName":"sub_protocolConfig.html","method":"send_get"},function(data){	

				console.log(data);	
				msg = data.msg;
				var options_txjk = "";
				var options_sjjyfs   = "";
				var options_lx       = "";
				var options_cjsb     = "";
				var options_bwcdms   = "";
				var bwcdms       = data[1];
				var txjk         	 = data[2];
				var sjjyfs           = data[3];
				var lx               = data[4];
				var cjsb             = data[5];
				var send             = data[6];
				var receive          = data[7];
				//console.log(data);
				
				for(var i=0;i<msg.length;i++){
					
					options_txjk += '<option value="'+msg[i][0]+'">'+msg[i][1]+'</option>';
				}
				$("#sub_config_txjk").append(options_txjk);    		   //【发送】通信接口下拉框数据加载
				$("#sub_config_receive_txjk").append(options_txjk);    //【接收】通信接口下拉框数据加载
//				for(var i=0;i<cjsb.length;i++){
//					options_cjsb += '<option value="'+cjsb[i].code_value+'">'+cjsb[i].code+'</option>';
//				}
//				$("#sub_config_cjsb").append(options_cjsb);	   			//【发送】采集设备下拉框数据加载
//				$("#sub_config_receive_cjsb").append(options_cjsb);	    //【接收】采集设备下拉框数据加载
//				for(var i=0;i<sjjyfs.length;i++){
//					options_sjjyfs += '<option value="'+sjjyfs[i].code_value+'">'+sjjyfs[i].code+'</option>';
//				}
//				$("#sub_config_sjjyfs").append(options_sjjyfs);			//【发送】数据校验方式下拉框数据加载
//				$("#sub_config_receive_sjjyfs").append(options_sjjyfs);	//【接收】数据校验方式下拉框数据加载
//				for(var i=0;i<lx.length;i++){
//					options_lx += '<option value="'+lx[i].code_value+'">'+lx[i].code+'</option>';
//				}
//				$("#sub_config_receive_lx").append(options_lx);	        //【接收】类型下拉框数据加载
//				for(var i=0;i<bwcdms.length;i++){
//					options_bwcdms += '<option value="'+bwcdms[i].code_value+'">'+bwcdms[i].code+'</option>';
//				}
//				$("#sub_config_receive_bwcdms").append(options_bwcdms);	    //【接收】报文长度模式下拉框数据加载
				//【发送】根据返回数据加载默认选中和默认值
//				for(var i=0;i<send.length;i++){
//					$.each(send[i], function(j) {					
//						$("#form_protocolConfig [name="+j+"]").val(send[i][j]);
//					});
//				}
//				//【接收】根据返回数据加载默认选中和默认值
//				for(var i=0;i<receive.length;i++){
//					$.each(receive[i], function(j) {					
//						$("#form_protocolConfig_receive [name="+j+"]").val(receive[i][j]);
//					});
//				}
				//加载下拉菜单后初始化  
				form.render("select");
			});
			
			
			
			$(document).ready(function(){
				
				//删除参数行
				$(".scrollBox").delegate(".removeBtn","click",function(){
					$(this).parent().parent().remove();
					//控制右侧面板滚动条
					var trLength = $(this).parents(".scrollBox").find("tr").length;
					var height = $(this).parents(".scrollBox").height();
					if(height > 340){
						$(this).parents(".scrollBox").css({"height":"402px","overflow-y":"scroll"});
					}else{
						$(this).parents(".scrollBox").css({"height":"","overflow-y":"hidden"});
					}
				});
				//【发送】添加参数行
				var i = 1;
				$("#addSendConfig").click(function(){
					var addSendConfig = "<tr>"+
										"<td>"+
										"<label>参数起始字节</label>"+
										"<div class=\"layui-input-inline\">"+
										"<input type=\"text\" class=\"layui-input\" name=\"parameter_start_pos"+i+"\">"+
										"</div>"+
										"<label>参数长度</label>"+
										"<div class=\"layui-input-inline\">"+
										"<input type=\"text\" class=\"layui-input\" name=\"parameter_length"+i+"\">"+
										"</div>"+
										"<label>参数内容</label>"+
										"<div class=\"layui-input-inline\">"+
										"<input type=\"text\" class=\"layui-input\" name=\"parameter_content"+i+"\">"+
										"</div>"+
										"<label class=\"removeBtn\"><span class=\"iconfont icon-gx_cha\"></span><span>删除</span></label>"+
										"</td>"+
										"</tr>";
					i++;
					$("#addSendConfigList").append(addSendConfig);
					//控制右侧面板滚动条
					var trLength = $(this).parents(".scrollBox").find("tr").length;
					var height = $(this).parents(".scrollBox").height();
					if(height > 340){
						$(this).parents(".scrollBox").css({"height":"402px","overflow-y":"scroll"});
					}else{
						$(this).parents(".scrollBox").css({"height":"","overflow-y":"hidden"});
					}
					//加载下拉菜单后初始化  
					form.render("select");
				});
				//【接收】接收关键字设置

				var j = 1;
				$("#addKeywordConfig").click(function(){
					var addKeywordConfig = "<tr>"+
										"<td>"+
										"<label>关键字起始位置</label>"+
										"<div class=\"layui-input-inline\">"+
										"<input type=\"text\" class=\"layui-input\" name=\"receive_parameter_code_start"+j+"\">"+
										"</div>"+
										"<label>长度</label>"+
										"<div class=\"layui-input-inline\">"+
										"<input type=\"text\" class=\"layui-input\" name=\"receive_parameter_code_length"+j+"\">"+
										"</div>"+
										"<label>类型</label>"+
										"<div class=\"layui-input-inline\">"+
										"<select name=\"receive_parameter_code_type"+j+"\" lay-verify=\"required\">"+
										"<option value=\"1004001\">char</option>"+
										"<option value=\"1004002\">short</option>"+
										"<option value=\"1004003\">int</option>"+
										"<option value=\"1004004\">float</option>"+								
										"</select>"+
										"</div>"+
										"<label>名称</label>"+
										"<div class=\"layui-input-inline\">"+
										"<input type=\"text\" class=\"layui-input\" name=\"receive_parameter_code_name"+j+"\" lay-verify=\"required\">"+
										"</div>"+
										"<label class=\"removeBtn\"><span class=\"iconfont icon-gx_cha\"></span><span>删除</span></label>"+
										"</td>"+
										"</tr>";
					j++;
					$("#addKeywordConfigList").append(addKeywordConfig);
					//控制右侧面板滚动条
					var trLength = $(this).parents(".scrollBox").find("tr").length;
					var height = $(this).parents(".scrollBox").height();
					if(height > 340){
						$(this).parents(".scrollBox").css({"height":"402px","overflow-y":"scroll"});
					}else{
						$(this).parents(".scrollBox").css({"height":"","overflow-y":"hidden"});
					}
					//加载下拉菜单后初始化  
					form.render("select");
				});
			})
			
			//【发送】提交
			form.on('submit(sub_send)', function(data) {
				var addSendConfigList=[];
				$("#addSendConfigList tr").each(function(){
				     var obj={};
					 var parameter_start_pos=$(this).find("input[name=parameter_start_pos]").val();
					 var parameter_length=$(this).find("input[name=parameter_length]").val();
					 var parameter_content=$(this).find("input[name=parameter_content]").val();
					 obj.parameter_start_pos=parameter_start_pos;
					 obj.parameter_length=parameter_length;
					 obj.parameter_content=parameter_content;
					 addSendConfigList.push(obj);
				});
				//反序列化方法开始
				$.fn.serializeObject = function(){
					var o = {};
					var a = this.serializeArray();
					$.each(a, function() {
						if (o[this.name] !== undefined) {
							if (!o[this.name].push) {
								o[this.name] = [o[this.name]];
							}
							var name = this.name,value = this.value;
							var arr = {};
							arr[name] = value;
							o[this.name].push(arr);
							//处理数组第一个元素的格式
							if(typeof(o[this.name][0]) == "string"){
								var arrOne = {};
								arrOne[name] = o[this.name][0];
								o[this.name].splice(0,1,arrOne);
							}
						} else {
							o[this.name] = this.value || '';
						}
					});
					return o;
				};
				//反序列化方法结束
				var serializeObject = $(this).parents("form").serializeObject();
				//console.log(serializeObject);
				//return false;
				$.ajax({
					url:"/cgi-bin/Qt_Cgic.cgi",
					type:"get",
					data:serializeObject,
					async:true,
					success:function(data){
						//console.log(data);
						var data = eval("["+data+"]");
						//console.log(data);
						//return false;
						if(data[1].return == "success"){
							layer.msg("提交成功");
						}else if(data[1].return == "error"){
							layer.msg("服务器存储失败(请重新提交)");
						}else{
							layer.msg("未知错误");
						}
					},
					error:function(e){
						layer.msg(e);
					}
				});
				return false;
			});
			
			//【接收】提交
			form.on('submit(sub_receive)', function(data) {
				var list = data.field;
				//console.log(list);
				$.post("/cgi-bin/Qt_Cgic.cgi",list,function(data){
					var data = eval("["+data+"]"); 
					//console.log(data);
					if(data[1].return == "protocolConfig_insert_success"){
						layer.alert("数据提交成功");
					}else{
						layer.alert("提交数据库失败,请重新提交");
					}
				});
				return false;
			});
			
			//【发送】接收协议配置三级联动【通信接口】
			form.on('select(sub_config_txjk)',function(data){
				var txjk = {};
				txjk.name = data.elem.name;
				txjk.value = data.value;
				txjk.FileName = "sub_protocolConfig.html";
				txjk.method = "get_policy_name";
				$.ajax({
					url:"/cgi-bin/Qt_Cgic.cgi",
					type:"get",
					data:txjk,
					async:true,
					success:function(jkmc){
						var jkmc = eval(jkmc);
						var html = "";
						for(var i=0;i<jkmc.length;i++){
							html += '<option value="'+jkmc[i].code+'">'+jkmc[i].code_value+'</option>';
						}
						$("#sub_config_jkmc").html(html);
						$("#sub_config_dkh").html("");
						form.render("select");//初始化下拉菜单
					},
					error:function(data){
						layer.msg("连接服务器失败");
					}
				});
				return false;
			});
			//【发送】接收协议配置三级联动【接口名称】
			form.on('select(sub_config_jkmc)',function(data){
				var txjk = {};
				txjk.name = data.elem.name;
				txjk.value = data.value;
				txjk.FileName = "sub_protocolConfig.html";
				txjk.method = "get_port_name";
				$.ajax({
					url:"/cgi-bin/Qt_Cgic.cgi",
					type:"get",
					data:txjk,
					async:true,
					success:function(jkmc){
						var jkmc = eval(jkmc);
						var html = "";
						for(var i=0;i<jkmc.length;i++){
							html += '<option value="'+jkmc[i].code+'">'+jkmc[i].code_value+'</option>';
						}
						$("#sub_config_dkh").html(html);
						form.render("select");//初始化下拉菜单
					},
					error:function(data){
						layer.msg("连接服务器失败");
					}
				});
				return false;
			});
			
			//【接收】接收协议配置三级联动【通信接口】
			form.on('select(sub_config_receive_txjk)',function(data){
				//验证选择CAN时，控制类型的显示
				var text = $("#sub_config_receive_txjk option[value="+data.value+"]").text();
				if(text == "CAN"){
					$("#sub_config_receive_bwlx_row").css("display","");
				}else{
					$("#sub_config_receive_bwlx_row").css("display","none");
				}
				//三级联动方法
				var txjk = {};
				txjk.name = data.elem.name;
				txjk.value = data.value;
				txjk.FileName = "sub_protocolConfig.html";
				txjk.method = "get_policy_name";
				$.ajax({
					url:"/cgi-bin/Qt_Cgic.cgi",
					type:"get",
					data:txjk,
					async:true,
					success:function(jkmc){
						var jkmc = eval(jkmc);
						var html = "";
						for(var i=0;i<jkmc.length;i++){
							html += '<option value="'+jkmc[i].code+'">'+jkmc[i].code_value+'</option>';
						}
						$("#sub_config_receive_jkmc").html(html);
						$("#sub_config_receive_dkh").html("");
						form.render("select");//初始化下拉菜单
					},
					error:function(data){
						layer.msg("连接服务器失败");
					}
				});
				return false;
			});
			//【接收】接收协议配置三级联动【接口名称】
			form.on('select(sub_config_receive_jkmc)',function(data){
				var txjk = {};
				txjk.name = data.elem.name;
				txjk.value = data.value;
				txjk.FileName = "sub_protocolConfig.html";
				txjk.method = "get_port_name";
				$.ajax({
					url:"/cgi-bin/Qt_Cgic.cgi",
					type:"get",
					data:txjk,
					async:true,
					success:function(jkmc){
						var jkmc = eval(jkmc);
						var html = "";
						for(var i=0;i<jkmc.length;i++){
							html += '<option value="'+jkmc[i].code+'">'+jkmc[i].code_value+'</option>';
						}
						$("#sub_config_receive_dkh").html(html);
						form.render("select");//初始化下拉菜单
					},
					error:function(data){
						layer.msg("连接服务器失败");
					}
				});
				return false;
			});

			//【接收】通信接口选择CAN时显示报文类型
			//form.on('select(sub_config_receive_txjk)', function(data){
			//	var text = $("#sub_config_receive_txjk option[value="+data.value+"]").text();
			//	console.log(text);
			//	if(text == "CAN"){
			//		$("#sub_config_receive_bwlx_row").css("display","");
			//	}else{
			//		$("#sub_config_receive_bwlx_row").css("display","none");
			//	}
			//});

		});
	</script>
</body>
</html>
