<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
  <meta http-equiv="keywords" content="关键字,关键字,关键字"/>
  <meta http-equiv="pragma" content="no-cache"/>
  <meta http-equiv="cache-control" content="no-cache"/>
  <meta http-equiv="expires" content="0"/>
  <meta name="description" content="页面描述不超过150个字符"/>
  <meta name="Author" content="页面作者"/>
  <meta name="renderer" content="webkit"/>
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
  <link rel="stylesheet" type="text/css" href="../static/layui/dist/css/layui.css"/>
  <link rel="stylesheet" href="../static/stylesheets/gx_main.min.css" />
  <link rel="stylesheet" type="text/css" href="../static/iconfont/iconfont.css">
  <!--[if lt IE 9]>
  <script src="../static/html5shiv/dist/html5shiv.min.js"></script>
  <script src="../static/respond/dest/respond.min.js"></script>
  <![endif]-->
  <script src="../static/jquery/dist/jquery.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="../static/layui/dist/layui.js" type="text/javascript" charset="utf-8"></script>
  <!--mine-->
  <script src="../static/javascripts/gx_main.min.js" type="text/javascript" charset="utf-8"></script>
  <style>
    table{color: #444c63;font-size: 12px;}
    table tr td:nth-child(even){background: #EEE;}
    table tr td:nth-child(odd){background: #97EBF1;}
  </style>
</head>
<body class="frame">
<form class="layui-form">
	<!-- 串口232端口参数配置 -->
	<table class="layui-table">
		<thead class="lightBlue center">
			<tr>
				<th colspan="8">CAN端口参数配置</th>
			</tr>
		</thead>
		<tbody class="center">
			<tr>
				<td>接口名称</td>
				<td>
					<input type="text" class="layui-input" name="CAN_policy_name" lay-verify="required">
				</td>
				<td>端口号</td>
				<td>
					<input type="text" class="layui-input" name="CAN_port_type" lay-verify="required">
				</td>
				<td>波特率</td>
				<td>
					<select name="CAN_baud_rate" lay-verify="required">						
						<option value="300">300</option>
						<option value="600">600</option>
						<option value="1200">1200</option>
						<option value="2400">2400</option>
						<option value="4800">4800</option>
						<option value="9600">9600</option>
						<option value="19200">19200</option>
						<option value="38400">38400</option>
						<option value="43000">43000</option>
						<option value="56000">56000</option>
						<option value="57600">57600</option>
						<option value="115200" selected>115200</option>						
						<option value="230400">230400</option>
						<option value="380400">380400</option>
						<option value="460800">460800</option>
						<option value="921600">921600</option>
					</select>
				</td>
			</tr>
			<!--报文格式定义-->
			<!--<tr>
			  <td colspan="8" style="color:#fff;background-color:#78C5F6;">报文格式定义</td>
			</tr>
			<tr>
				<td colspan="8">
					<img src="../static/images/xianshibaowengeshi.jpg" style="max-width:100%;width:100%;">
				</td>
			</tr>-->
			<!--报文格式定义-->
			<tr>
			  <td colspan="6" style="color:#fff;background-color:#78C5F6;">报文格式定义</td>
			</tr>
			<tr>
				<td colspan="6">
					<img src="../static/images/xianshibaowengeshi.jpg" style="max-width:100%;width:100%;">
				</td>
			</tr>
			<tr>
				<td>报文标识起始节点</td>
				<td>
					<input type="text" class="layui-input" name="CAN_buff_id_pos" lay-verify="number">
				</td>
				<td>报文标识长度</td>
				<td>
					<input type="text" class="layui-input" name="CAN_buff_id_length" lay-verify="number">
				</td>
				<td colspan="2"></td>
			</tr>
		</tbody>
	</table>
	<div class="text_right">
		<button class="layui-btn layui-btn-darkBlue" lay-submit lay-filter="sub_add">
			保存
		</button>
		<button type="reset" class="layui-btn layui-btn-darkBlue">
			重置
		</button>
	</div>
</form>

<hr class="layui-bg-blue" style="margin-top:30px;margin-bottom:30px;">

<!-- 端口配置详细 -->
<table class="layui-table">
	<thead class="lightBlue center">
		<tr><th colspan="6">端口配置详细</th></tr>
	</thead>
	<tbody class="center" id="sub_detail"></tbody>
</table>

<script type="text/javascript">
	layui.use(['element','layer','jquery','laydate','form'],function(){
		var element = layui.element,$ = layui.jquery, layer = layui.layer, laydate = layui.laydate,form = layui.form; //独立版的layer无需执行这一句
		
		//【添加】提交按钮
		form.on('submit(sub_add)', function(data) {
			var list = data.field;
			list.FileName = "sub_CAN.html";
			list.method = "CAN_config";
			console.log(list);
			//return false;
			$.ajax({
				url:"/cgi-bin/Qt_Cgic.cgi",
				type:"get",
				data:list,
				async:true,
				success:function(data){
					console.log(data);
					var data = eval("["+data+"]");
					console.log(data);
					if(data[0].return == "success"){
						var html = '<form class="layui-form">'+
							'<table class="layui-table">'+
								'<tr>'+
								'<td>接口名称</td>'+
								'<td>'+
									'<input type="text" class="layui-input" name="CAN_show_policy_name" lay-verify="required" value="'+list.CAN_policy_name+'">'+
								'</td>'+
								'<td>端口号</td>'+
								'<td>'+
									'<input type="text" class="layui-input" name="CAN_show_port_type" lay-verify="required" value="'+list.CAN_port_type+'">'+
								'</td>'+
								'<td>波特率</td>'+
								'<td>'+
									'<select name="CAN_show_baud_rate" lay-verify="required" value="'+list.CAN_baud_rate+'">'+
									'<option value="115200">115200</option>'+
									'<option value="300">300</option>'+
									'<option value="600">600</option>'+
									'<option value="1200">1200</option>'+
									'<option value="2400">2400</option>'+
									'<option value="4800">4800</option>'+
									'<option value="9600">9600</option>'+
									'<option value="19200">19200</option>'+
									'<option value="38400">38400</option>'+
									'<option value="43000">43000</option>'+
									'<option value="56000">56000</option>'+
									'<option value="57600">57600</option>'+
									'<option value="230400">230400</option>'+
									'<option value="380400">380400</option>'+
									'<option value="460800">460800</option>'+
									'<option value="921600">921600</option>'+
									'</select>'+
								'</td>'+
								'</tr>'+
								'<tr>'+
								'<td>报文标识起始节点</td>'+
								'<td>'+
									'<input type="text" class="layui-input" name="CAN_show_buff_id_pos" lay-verify="number" value="'+list.CAN_buff_id_pos+'">'+
								'</td>'+
								'<td>报文标识长度</td>'+
								'<td>'+
									'<input type="text" class="layui-input" name="CAN_show_buff_id_length" lay-verify="number" value="'+list.CAN_buff_id_length+'">'+
								'</td>'+
								'<td colspan="2"></td>'+
								'</tr>'+
								'</table>'+
								'<div class="text_right">'+
									'<button class="layui-btn layui-btn-darkBlue" lay-submit lay-filter="sub_add_detail">'+
										'保存'+
									'</button>'+
									'<button class="layui-btn layui-btn-darkBlue" lay-submit lay-filter="sub_del_detail">'+
										'删除'+
									'</button>'+
								'</div>'+
							'</form>';
						$("#sub_detail").append(html);
						//判定给option设置selected
						var $select = $("#sub_detail").find("select");
						$.each($select,function(index,data){
							var selVal = $(this).attr("value");
							var opts = $(this).find("option");
							opts.each(function(indexs,datas){
								var optVal = $(this).attr("value");
								if(optVal == selVal){
									$(this).attr("selected","selected");
								}
							})
						})
						form.render("select");//初始化下拉菜单
					}else if(data[0].return == "error"){
						layer.msg("保存数据失败");
					}else{
						layer.msg("服务器相应失败");
					}
				},
				error:function(e){
					layer.msg(e);
				}
			});
			return false;
		});
		//【详情】提交方法
		form.on('submit(sub_add_detail)', function(data) {
			//console.log(data.field);	
			var list = data.field;
				list.FileName = "sub_CAN.html";
				list.method = "CAN_save_config";
			$.ajax({
			  url:"/cgi-bin/Qt_Cgic.cgi",
			  type:"get",
			  data:list,
			  async:true,
			  success:function(data){
				var data = eval("["+data+"]");
				if(data[0].return == "success"){
					layer.msg("修改成功");
				}else if(data[0].return == "error"){
					layer.msg("服务器存储失败(请重新提交)");
				}else{
					layer.msg("未知错误");
				}
			  },
			  error:function(e){
			     layer.msg(e);
			  }
			});
			return false;
		});
			
		//详情模块删除方法
		form.on('submit(sub_del_detail)', function(data) {
			console.log(data.field);	
			var _self = $(this);
			var list = data.field;
				list.FileName = "sub_CAN.html";
				list.method = "CAN_delete_config";
			console.log(list);				
			layer.confirm('确认删除当前配置行?', {
				btn: ['删除','不删除']
			}, function(){
				$.ajax({
					url:"/cgi-bin/Qt_Cgic.cgi",
					type:"get",
					data:list,
					async:true,
					success:function(data){
						console.log(data);
						var data = eval("["+data+"]");
						console.log(data);
						if(data[0].return == "success"){
							_self.parents("form").remove();
							layer.msg('删除成功', {
								time: 2000//2s后自动关闭
							});
						}else if(data[0].return == "error"){
							layer.msg("服务器删除失败(请重新删除)");
						}else{
							layer.msg("未知错误");
						}
					},
					error:function(e){
						layer.msg(e);
					}
				});
			});
			return false;
		});
	});
</script>

</body>
</html>

