<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
  <meta http-equiv="keywords" content="关键字,关键字,关键字"/>
  <meta http-equiv="pragma" content="no-cache"/>
  <meta http-equiv="cache-control" content="no-cache"/>
  <meta http-equiv="expires" content="0"/>
  <meta name="description" content="页面描述不超过150个字符"/>
  <meta name="Author" content="页面作者"/>
  <meta name="renderer" content="webkit"/>
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
  <link rel="shortcut icon" href="../static/favicon.ico" type="image/x-icon" >
  <link rel="stylesheet" type="text/css" href="../static/layui/dist/css/layui.css"/>
  <link rel="stylesheet" href="../static/stylesheets/gx_main.min.css" />
  <link rel="stylesheet" type="text/css" href="../static/iconfont/iconfont.css">
  <!--[if lt IE 9]>
  <script src="../static/html5shiv/dist/html5shiv.min.js"></script>
  <script src="../static/respond/dest/respond.min.js"></script>
  <![endif]-->
  <script src="../static/jquery/dist/jquery.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="../static/layui/dist/layui.js" type="text/javascript" charset="utf-8"></script>
  <script type="text/javascript" src="../static/highcharts-5.0.14/code/highcharts.js"></script>
  <!--mine-->
  <script src="../static/javascripts/gx_main.min.js" type="text/javascript" charset="utf-8"></script>

</head>
<body class="gx_index">

<form class="layui-form trade_operation" id="form_trade_operation">
		<input type="hidden" name="FileName" value="trade_operation.html"/>
		<input type="hidden" name="method" value="send_post"/>
		<!--【发送】协议配置-->
		<table class="layui-table">
			<thead class="lightBlue center">
				<tr>
					<th colspan="6">成功接入的账户</th>
				</tr>
                <tr>
                    <textarea  class="layui-textarea" id="return_account_login_info"
                    style="width:90%;height:20px" readonly></textarea>
                </tr>
                <tr>
                    <button id="show_user_ids" type="button"
                            class="layui-btn layui-btn-primary layui-btn-radius">显示账户</button>

                </tr>
			</thead>
			<tbody class="grey center">

				<tr>
					<td>账号名称</td>
					<td>
						<select id="sub_config_user_ids" name="parameter_user_ids" lay-filter="sub_config_user_ids" lay-verify="required"></select>
					</td>

				</tr>
                <tr>账户余额</tr>
                <tr>
                    <textarea  class="layui-textarea" id="balance_json"
                    style="width:90%;height:20px" readonly></textarea>
                </tr>

			</tbody>
		</table>

		<!--【发送】提交按钮-->
		<div class="text_right">
			<button class="layui-btn layui-btn-darkBlue" id="sub_protocolConfig" lay-submit="" lay-filter="sub_send">提交</button>
			<button type="reset" class="layui-btn layui-btn-darkBlue">重置</button>
		</div>
</form>

<script>

    layui.use(['form', 'layedit', 'laydate','element','jquery'], function(){
      var form = layui.form
      ,layer = layui.layer
      ,layedit = layui.layedit
      ,laydate = layui.laydate
      ,element=layui.element
      ,$=layui.jquery;
      /**
       *  字符串转换成 json 对象
       **/
      function strToJson(str){
        var json = eval('(' + str + ')');
        return json;
      };
        /**
         * 获取cookie 通过 key
         * @param name  key
         * @returns {null} value
         */
        function getCookie(name)
        {
            var arr,reg=new RegExp("(^| )"+name+"=([^;]*)(;|$)");

            if(arr=document.cookie.match(reg))

                return unescape(arr[2]);
            else
                return null;
        };
        /**
         * 设置 cookie
         * @param name    key
         * @param value  value
         * @param time  时间
         */
        function setCookie(name,value,time)
        {
            var strsec = getsec(time);
            var exp = new Date();
            exp.setTime(exp.getTime() + strsec*1);
            document.cookie = name + "="+ escape (value) + ";expires=" + exp.toGMTString();
        }

        $(document).on('click','#show_user_ids',function(){
          var cookieObj=getCookie("user_ids");
          var options_user_ids = [];
          //把\054转换成对应的','
          cookieObj = cookieObj.replace(/\\054/g, ",");
          cookieObj = cookieObj.replace(/"/g, "");
          $("#return_account_login_info").val(cookieObj);
          var obj_user_ids = strToJson(cookieObj);
          //debugger;
          //填充数据到用户名称下拉框
          for(var i=0;i<obj_user_ids.length;i++){

            options_user_ids += '<option value="'+i+'">'+obj_user_ids[i]+'</option>';
          }
          $("#sub_config_user_ids").append(options_user_ids);   //填充数据到用户名称下拉框

          form.render("select");
          console.log(cookieObj);
        });
        //选择账户
        form.on('select(sub_config_user_ids)',function(data){

            var user = {};
            user.exchange = "BITMEX";
            user.gateway_name = "BITMEX";
            user.name = data.elem.name;
            user.user_id =  $("#sub_config_user_ids option:selected").text();//获取文本
            //debugger;
            $.ajax({
                url:"balance/",
                type:"post",
                data:JSON.stringify(user),
                async:true,
                success:function(res){
                    var __data = unescape(res.replace(/\\u/g, '%u'));
                    var obj = strToJson(__data);

                    var balances_text = "";
                    for(var i = 0; i < obj.balances.length; i++)
                    {
                        var o = obj.balances[i];
                        balances_text += JSON.stringify(o.BTC)  + "\n\r"
                            + "free: "+JSON.stringify(o.free) + "\n\r"
                            + "used: "+JSON.stringify(o.used) + "\n\r"
                            + "total:" + JSON.stringify(o.total) + "\n\r";

                    }

                    $("#balance_json").val(balances_text);
                },
                error:function(res){
                    layer.msg("连接服务器失败");
                }
            });
            return false;
        });

    });
</script>

</body>
</html>